.categoriesMenu{
	width:10%;
	border-bottom: 1px solid black;
	float:left;
}

.categoriesMenu a:active, .categoriesMenu a:hover{
	color:#095197 !important;
}

.row_categoriesMenu{
	padding:10px 0px;
	text-align:center;
	border-top: 1px solid black;
}
#menu_cate
{
	padding: 0px;
	width: 15%;
	float: left;	
}
#menu_cate img
{
width: 30px;
height: 30px;
margin-right: 10px;

}
#menu_cate li
{
list-style-type: none;
height: 40px;
}
#menu_cate span
{
	position: relative;
	bottom: 10px;
	
}